.App {
  text-align: center;
}

h1 {
  color: goldenrod;
}

label, input {
  display: block;
  margin: auto;
}

label {
  color: goldenrod;
  font-weight: 500;
  font-size: medium;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}

input {
  border-radius: 20px;
  border: 1px solid forestgreen;
  padding: 8px;
}

button {
  width: 14%;
  padding: 10px;
  margin-top: 16px;
  border-radius: 25px;
  background-color: black;
  color: goldenrod;
}

.error-message {
  color: firebrick;
  margin-top: 2px;
}


